.project-card img {
    height: 200px;
    /* Adjust to control image height */
    object-fit: cover;
    width: 500px;
}

.project-card {

    display: flex;
    flex-direction: column;
    color: white; 
    text-shadow: 
    -1px -1px 0 black,  /* Top-left */
    1px -1px 0 black,   /* Top-right */
    -1px 1px 0 black,   /* Bottom-left */
    1px 1px 0 black;    /* Bottom-right */

    margin-bottom: 20px;
    justify-content: center;
}

.view-project-btn {
    color: black; /* Text color */
    background-color: transparent; /* Transparent background */
    border: none; 
  }

  .view-project-btn:hover {
    text-decoration: none; 
  }

  .myCard{
    color: white; 
    text-shadow: 
    -1px -1px 0 black,  /* Top-left */
    1px -1px 0 black,   /* Top-right */
    -1px 1px 0 black,   /* Bottom-left */
    1px 1px 0 black;    /* Bottom-right */
    
  }


  .cardBody{
    padding-top: 20px;
  }

  .custom-btn {
  
    color: white; 
    text-shadow: 
    -1px -1px 0 black,  /* Top-left */
    1px -1px 0 black,   /* Top-right */
    -1px 1px 0 black,   /* Bottom-left */
    1px 1px 0 black;    /* Bottom-right */
  }
  
 
  .custom-btn:hover {
  
    color: white; 
  }