@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


#aboutPage {
  padding-top: 2rem;

  background-color: #f9f9f9;
  padding-top: 50px;
}

.row {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 175px;
  /* Adjust as needed */
  height: 175px;
  /* Adjust as needed */
  border-radius: 50%;
  margin-bottom: 1rem;
}

.push {
  height: 50px;
}

.toolsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.aboutRowText {
  padding-left: 30px;

  font-size: 50px;
  color: #000;
  /* Change color as needed */
}

.aboutRows {

  padding-left: 50px;
  padding-bottom: 10px;
  padding-bottom: 0px;
}

.about {

  padding-top: 30px;
  padding-left: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    /* Top-left */
    1px -1px 0 black,
    /* Top-right */
    -1px 1px 0 black,
    /* Bottom-left */
    1px 1px 0 black;
  /* Bottom-right */
  display: flex;
  align-items: center;

  background-image: url('/src/assets/background1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* Full viewport height */
  color: white;

  box-sizing: border-box;
}


.coreSkills {
  display: flex;
  justify-content: center;
  width: 100%;
}

.skills {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tools-section {
  padding-left: 200px;
  padding-right: 150px;
}

.hobbies-section {
  padding-bottom: 150px;
}

.toolsHeader {
  padding-right: 75px;
}

.hardware-section {
  padding-left: 50px;
}