.github {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.linkedin {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}



.footer-links {
  display: flex;
  justify-content: space-around;
  height: 75px;

  margin-bottom: 0px;
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;
  gap: px;
  width: 100vw;
  background-color: black;
  margin-bottom: 0px;
}

.footer{
height: 80px;

}

.footerBar {
  display: flex;
  justify-content: space-around;
  height: 70px;
  bottom: 0;
  flex-wrap: wrap;
  gap: 50px;
  background-color: black;
}

@media screen and (max-width: 440px) {
  .footerBar {
   gap: 0;
  
  }
}
