.footer {
  width: 100%;
  min-height: 120px;
  background: black;
}

.footer-links {
  position: static;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 60px;
  margin: 0;
  padding: 3px 0;
  gap: 40px;
  background: black;
  font-size: 3rem;
}

.footer-link-button {
  color: white;
}

.github,
.linkedin {
  display: flex;
  justify-content: center;
  text-align: center;
}