.links {
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  width: 100%; 
  padding: 10px;
  background-color: #000; 
}


.link-button {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.headerLinks .nav-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.headerLinks .nav-link:hover {
  text-decoration: underline;
}

.headerLinks .nav-link.active {
  color: #FFD700; 
  background-color: rgba(255, 215, 0, 0.2); 
  border-radius: 5px; 
  padding: 5px 10px;
}

.github{
  padding-right: 200px;
}

.header{
  display: flex;
  justify-content: space-evenly; 
  align-items: right; 
}