/* Basic header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  color: white;
  width: 100%;
  min-height: 150px;
}

.skill-item{
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Brand name styling */
.brand {
  font-size: 3.5rem;
}

.headerName{
  margin-left: 75px;
}

/* Link styling */
.navigation a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 50px;
}

.navigation a:hover,
.navigation a.active {
  text-decoration: underline;
  font-weight: bold;
}

/* Menu toggle button */
.menu-toggle {
  display:none;

  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 100px;

}

/* Navigation layout */
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 1rem;
  margin-right: 5px;
}

/* Responsive styles for screens smaller than 768px */
@media (max-width: 768px) {
  /* Show the menu toggle button */
  .menu-toggle {
    display: block;

  }

  button.menu-toggle {
    display: block;
    height: 100px;
  }

  .header{
    min-height: 200px;
  }

  .brand{
    font-size: 2.2rem;
  }

  .headerName{
    margin-left: 25px;
  }

  /* Hide navigation by default on smaller screens */
  .navigation {
    display: none;
    flex-direction: column;

    top: 100%; /* Position below the header */
    left: 0;
    width: 100%;
    background-color: black;
    padding: 1rem 0;
    margin-right: 0;
    font-size: 1.2rem;

  }


  .navigation.open {
    display: flex;
    width: 200px;
  }

  .menu-toggle.open {
    color: pink; /* Change color when open */
    margin-right: 0;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .navigation a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0.5rem 0;
    text-align: center;
    display: block;
    font-size: 1rem;
  }
}

