@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.portfolio-page {
  height: 100%;
}

.portfolio-Wraper {
  background: linear-gradient(to bottom,
      #ffd7eb, /* Very soft pink */
      #ffc4e3, /* Light pastel pink */
      #ffb1db, /* Soft pink */
      #ff9fd3, /* Soft pink with a hint of lavender */
      #ff8ccc, /* Pinkish lavender */
      #e887c7, /* Slightly deeper pink-lavender */
      #d17fc3, /* Muted lavender with pink */
      #b775c2, /* Light purple-pink */
      #a069be, /* Soft purple with pink tones */
      #7a61d2, /* Muted blue-purple */
      #5760d0 /* Darker purple with a hint more blue */
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  /* Keeps the image fixed on scroll */
  flex-wrap: wrap;
}

.portfolio-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

}

.portfolioCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.portfolioCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


.custom-btn {

  color: black;
  text-shadow:
    -1px -1px 0 black,
    /* Top-left */
    1px -1px 0 black,
    /* Top-right */
    -1px 1px 0 black,
    /* Bottom-left */
    1px 1px 0 black;
  /* Bottom-right */

  text-shadow: 2px 2px 8px white;
}


.project-card {
  color: black;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;


  flex: 1 1 calc(33.333% - 40px);
  /* Three cards per row with space for gap */
  min-width: 100px;
  height: auto;
  /* Make sure each card takes up the full height */
  margin: 60px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.project-card img {
  min-height: 150px;
  min-width: 150px;
}



.cards {
  height: 100%;
}

@media screen and (max-width: 700px) {
  .portfolio-Wraper {
    height: unset;
  }
}