@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.project-card img {
  width: 100%;
  height: auto;
  min-height: 250px;
  min-width: 350px;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-height: 250px;
  max-height: 350px; /* Added a max-height for consistent image display */
  object-fit: cover;
}

.project-card {

  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

  margin: 20px;
  gap: 20px;
  color: black;
  border-radius: 8px;
  min-width: 350px;  /* Set a minimum width */
  max-width: 800px;  /* Limit maximum width */
  width: 100%;       /* Ensure responsiveness */
  min-height: 300px;
  max-height: 800px;
  overflow: hidden;  /* Prevent overflow issues */
  box-sizing: border-box;
  backdrop-filter: saturate(95%) blur(220px);
}



.myFlexCard{
  display: flex;
  align-items: center;
}


.project-video{
  max-height: 2px;
}

.w-100{
  display: flex;
  align-items: center;
  max-height: 200px;
  min-height: 200px;
  max-width: 350px;
  min-width: 350px;
}

.viewGithubProject{
  margin-top: 10px;
  margin-bottom: 10px;
}

.videoText{

  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;


}




.view-project-btn {
  font-family: 'Roboto', sans-serif;
  color: black;

  border: none;
}

.view-project-btn:hover {
  text-decoration: none;
}

.myCard {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 8px white; 
  padding-bottom: 70px;
  font-size: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}


.cardBody {
  padding-top: 20px;
}



.custom-btn:hover {
  color: white;
}






.card-img-top{
  min-width: 800px; 
  padding-left: 40px;
}


.project-video {
  margin-bottom: 180px; /* Adds space below the video */
  min-width: 300px;
}

.videoText {
  text-align: center; /* Centers the text */
 
}

.imageVideo {
  display: block;


  min-height: 200px;
  max-height: 200px;
}



