@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


.resume-page {

  margin: 0 auto;
  color: black;
  text-shadow: 2px 2px 8px white; 

  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #333;
  margin-left: 0px;
  margin-right: 0px;

  /* background-image: url('/src/assets/background5.png');  */

  background: linear-gradient(to bottom,
      #ffd7eb,
      /* Very soft pink */
      #ffc4e3,
      /* Light pastel pink */
      #ffb1db,
      /* Soft pink */
      #ff9fd3,
      /* Soft pink with a hint of lavender */
      #ff8ccc,
      /* Pinkish lavender */
      #e887c7,
      /* Slightly deeper pink-lavender */
      #d17fc3,
      /* Muted lavender with pink */
      #b775c2,
      /* Light purple-pink */
      #a069be,
      /* Soft purple with pink tones */
      #7a61d2,
      /* Muted blue-purple */
      #5760d0
      /* Darker purple with a hint more blue */
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed;
  /* Keeps the image fixed on scroll */
  flex-wrap: wrap;
}

.mainResumeContent {
  color: black;
  text-shadow: 2px 2px 8px white; 
  height: 100%;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 1.5rem;
  line-height: 1.6;
  border-radius: 8px;
}

.contact-section li{
  margin-right: 30px;
}


.resume-page h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}


.skills-section {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}


.resume-section {
  margin-top: 30px;
}

.resume-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.resume-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.resume-section ul li {
  margin-bottom: 5px;
}

.resumeHeaders {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}

.contactInfo{
  
  width: 100%;
}

.coreSkills {
  display: flex;
  justify-content: center;
  text-align: center;
}

.resumeLinks {
  display: flex;
  color: black;
  text-shadow: 2px 2px 8px white; 
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  font-size: 1rem;
  flex-wrap: wrap;

}

.professinalText {
  text-align: left;
}

.professional-section {
  border-radius: 8px;
}

.education-ection {
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.link-button {
  font-size: 1rem;
  /* Increase font size for larger text */
  padding: 15px 30px;
  /* Add more padding to enlarge button area */
  color: black;
  font-size: 2.8rem;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 2.5rem;
}


.skills-container {
  display: flex;
  justify-content: space-between;
  /* Aligns items to the left, center, and right */
  padding: 10px 0;
  text-align: center;
  padding-right: 10px;
}

.skill-item{
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
  margin-top: 20px;
}

li {

  align-items: left;
  text-align: left;
  width: 100%;
}

.skills li {
  line-height: 1.5; 
  text-indent: -1.5em; 
  padding-left: 1.5em;

}

.skills {
  display: flex;
  justify-content: left;
  width: 100%;
}

.skills{
  margin-bottom: 20px;
}

.skill-item:nth-child(2) {
  text-align: center;
  /* Center the second item */
}

.skill-item:first-child {
  text-align: left;
  /* Left-align the first item */
}

.skill-item:last-child {
  text-align: right;
  /* Right-align the last item */
}

.toolsHeader {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
}

.skills {
  flex-wrap: wrap;
}

/* .programmingHeader{
  justify-content: left;
} */

.contact-section {
  display: flex;
  flex-wrap: wrap;
}


.tools-section {
  padding-left: 200px;
  padding-right: 150px;
}

.hobbies-section {
  padding-bottom: 150px;
}

.coreSkills {
  display: flex;
  justify-content: center;
  width: 100%;
}






@media (max-width: 768px) {
  .mainResumeContent{
   padding: 15px;
   padding-left: 20px;
  }
 }

 @media (max-width: 350px) {
  .contactInfo {
    font-size: 1.2rem;
  }
  .contact-section{
    max-width: 75px;
  }
 }

